<form class="form-inline">
  <div class="form-group">
    <input 
      type="text" 
      class="form-control"
      placeholder="Enter search string"
      #search>
  </div>
  <button 
    type="button"
    class="btn btn-primary"
    (click)="doSearch(search.value)">Search
  </button>
</form>

<hr/>

<!-- First List Version -->
<!-- <ul>
  <li *ngFor="let track of itunes.results">
    {{ track.trackName }}
  </li>
</ul> -->

<!-- Second List Version requiring Bootstrap -->
<!-- <div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
<ul class="list-group">
  <li class="list-group-item"
    *ngFor="let track of itunes.results">
    <img src="{{track.artworkUrl30}}">
    <a target="_blank"
      href="{{track.trackViewUrl}}">{{ track.trackName }}
    </a>
  </li>
</ul> -->

<!-- Third List version requiring Bootstrap -->
<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>
<ul class="list-group">
  <li class="list-group-item"
    *ngFor="let track of itunes.results">
    <img src="{{track.thumbnail}}">
    <a target="_blank"
      href="{{track.link}}">{{ track.name }}
    </a>
  </li>
</ul>